extends layout

block content
  section.container
    h1 Books
    div.anchor
      a(class="create" href="/book/new") Create New Book
      .searchbar 
        form(action="/search", method="post") 
         input(type="text", name="search" placeholder="Search...")
         button(type="submit") 
           i.fas.fa-search 
    table
      thead
        tr
          th Id
          th Title
          th Author
          th Genre
          th Year
      tbody  
        each row in headings 
          tr 
            td= row.id
            td
              a(href=`/book/${row.id}` class='data')= row.title 
            td= row.author 
            td= row.genre 
            td= row.year
    br
    .pagination 
      form(action="/book", method="post") 
        -var n= page 
        -var i = 1;
        while i <= n 
          button(type="submit" name="submit" value=i)= i
          -i++
